header {
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-top: 5px solid $mainLM-color;
  background-color: $secondaryLM-color;
  @include flexContainerConfig(row, nowrap, space-between, center);
}