main {
  position: relative;
  top: 90px;
  width: 100vw;
}
.topSection-container {
  height: auto;
  margin-bottom: 95px;
}
.welcomeSearch-wrapper {
  @include flexContainerConfig(column, nowrap, center, center)
}
.trendingSection-container {
  height: auto;
  background-color: $trending-bg-color;
}