#anchorHome {
  min-width: 59.1px;
  width: 4.1041667vw; // =59.1px/1440px
  max-width: 65px;
  min-height: 59.1px;
  height: 4.1041667vw; // =59.1px/1440px
  max-height: 65px;
  margin-top: 1.25vw; // =18px/1440px
  margin-bottom: 0.89583333vw; // =12.9px/1440px
  margin-left: 10.833333vw; // =156px/1440px
}
#logoHeader {
  width: 100%; // of parent
  height: 100%; // of parent
}
