#maxViewOverlay-container {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: $tertiaryLM-color09;
  z-index: 400;
  transition: height 0.4s, width 0.4s;
  overflow: hidden;
  @include flexContainerConfig(row, nowrap, center, center);
  left: 50%; /*Add this*/
  transform: translate(-50%, -50%); /*Add this*/
}
.overlayZero {
  width: 0vw;
  height: 0%;
}
.overlayFullScreen {
  width: 100vw;
  height: 100%;
}
#maxViewOverlayCloseButton {
  position: absolute;
  top: 4.7222222vw; // =68px/1440px
  right: 19.444444vw; // =280px/1440x
  width: 1.1111111vw; // =16px/1440px
  height: 1.1111111vw; // =16px/1440px
  background-image: url(../../assets/icon-closeMaxOverlay.svg);
}
#overlayImgButtons-container {
  width: fit-content;
  height: fit-content;
  @include flexContainerConfig(row, nowrap, center, center);
}
#imgMaxGifOverlay {
  width: 48.263889vw; // = 695px/1440px
  height: 26.736111vw; // = 385px/1440px
}
.socialMaxFullGif-container {
  margin-top: 25px;
  width: 48.263889vw; // = 695px/1440px
  height: fit-content;
  @include flexContainerConfig(row, nowrap, space-between, center);
}
.socialMaxFullGifNameTitle-container {
  height: 100%;
}
.userMaxFullGif {
  font-family: $regularContent-font;
  font-size: calc(15px + 0.13888889vw); // =15px+(2px/1440px)
}
.titleMaxFullGif {
  margin-top: 8px;
  font-family: $strongContent-font;
  font-size: calc(16px + 0.13888889vw); // =16px+(2px/1440px)
}
.socialMaxFullGifButtons-container {
  min-width: 80px;
  width: 6.9444444vw; // =100px/1440px
  @include flexContainerConfig(row, nowrap, space-around, center);
}
.socialMaxFullGifButton {
  min-width:  26px;
  width: 2.5vw; // =36px/1440px
  min-height:  26px;
  height: 2.5vw; // =36px/1440px
  @include cardButton;
  background-color: blue;
}
#favActiveMaxViewOverlay {
  position: absolute;
  width: 56%;
  left: 20%;
}