nav {
  margin-right: 10.833333vw; // =156px/1440px
  // margin-top: 1.25vw; // =18px/1440px
  // margin-bottom: 1.25vw; // =18px/1440px
  margin-top: 18px;
  margin-bottom: 18px;
}
nav ul {
  min-width: 430px;
  width: 33.819444vw;// =487px/1440px
  max-width: 650px;
  @include flexContainerConfig(row, nowrap, space-between, center)
}
.nav-anchor {
  font-size: 0.8125rem; // =13px/16px
  font-family: $strongTitles-font;
  color: $mainLM-color;
}
#createGifButton-img {
  min-width: 50px;
  width: 3.75vw; // =54px/1440px
  max-width: 60px;
  min-height: 50px;
  height: 3.75vw; // =54px/1440px
  max-height: 60px;
}