// ***************************************************************************************
// ******************WELCOME SECTION GLOBALS**********************************************
// ***************************************************************************************
.welcome-container {
  width: 100vw;
  @include flexContainerConfig(column, nowrap, space-between, center);
}
// ***************************************************************************************
// ******************WELCOME MESSAGE******************************************************
// ***************************************************************************************
.welcomeMessage-wrapper {
  margin-top: 76px;
  min-width: 600px;
  width: 64.861111vw; // =934px/1440px
}
.welcomeMessage-wrapper h1 {
  text-align: center;
  font-size: calc(30px + 0.34722222vw); // =30px+(5px/1440px)
  line-height: calc(40px + 0.69444444vw); // =40px+(10px/1440px)
  font-family: $strongTitles-font;
  color: $mainLM-color; 
}
.welcomeMessage-wrapper h1 span {
  color: $tertiaryLM-color;
}
// ***************************************************************************************
// ******************WELCOME ILLUSTRATION*************************************************
// ***************************************************************************************
.welcomeIlustration-wrapper {
  margin-top: 24px;
  margin-bottom: -3px;
  min-width: 399px;
  width: 27.708333vw; // =399px/1440px
}
.welcomeIlustration-wrapper img {
  width: 100%; // of parent
  height: 100%; // of parent
}