// ***************************************************************************************
// ******************TRENDING SECTION GLOBALS ********************************************
// ***************************************************************************************
.trendingSection-container {
  @include flexContainerConfig(column, nowrap, center, center);
}
// ***************************************************************************************
// ******************TRENDING TITLE*******************************************************
// ***************************************************************************************
.trendingTitle-wrapper {
  margin-top: 67px;
  text-align: center;
}
.trendingTitle-wrapper h2 {
  @include trendingSubtitle;
  font-size: calc(24px + 0.069444444vw); // =24px+(1px/1440px)
  line-height: 30px;
}
.trendingTitle-wrapper p {
  margin-top: 12px;
  font-size: calc(16px + 0.13888889vw); // =14px+(2px/1440px)
  font-family: $regularContent-font;
  color: $quinaryLM-color;
}
// ***************************************************************************************
// ******************TRENDING SLIDER GLOBALS**********************************************
// ***************************************************************************************
.trendingSlider-container {
  width: 100vw;
  margin-top: 54px;
  margin-bottom: 182px;
  @include flexContainerConfig(row, nowrap, space-between, center);
}
.trendingGifosSlider-wrapper {
  @include flexContainerConfig(row, nowrap, center, center);
}
// ***************************************************************************************
// ******************TRENDING CARD********************************************************
// ***************************************************************************************
.trendingGifoCard {
  width: 24.791667vw; // =357px/1440px
  height: 19.097222vw; // =275px/1440px
  margin-right: 0.83333333vw; // =12px/1440px
  margin-left: 0.83333333vw; // =12px/1440px
  border: 1px solid violet;
}
// ***************************************************************************************
// ******************TRENDING CARD OVERLAY************************************************
// ***************************************************************************************
.trendingGifoCard-overlay {
  width: 100%;
  height: 100%;
  @include trendingCardssOverlay;
  @include flexContainerConfig(column, nowrap, space-between, flex-start);
}
.socialTrendingCards-wrapper {
  width: 100%; // of parent
  height: auto;
  @include flexContainerConfig(row, nowrap, flex-end, center);
}
.trendingCardsButton {
  margin-top: 2.8011204%; // =10px/357px (of parent)
  margin-right: 2.8011204%; // =10px/357px (of parent)
  width: 2.2222222vw; // =32px/1440px 
  height: 2.2222222vw; // =32px/1440px 
  background-size: 2.2222222vw 2.2222222vw;
  background-size: cover;
}
.trendingCardsFavButton {
  background-image: url(../assets/-0.generalCardAssets/icon-fav_normal.svg);
  &:hover{
    background-image: url(../assets/-0.generalCardAssets/icon-fav_hover.svg);
  }
}
.trendingCardsDownloadButton {
  background-image: url(../assets/-0.generalCardAssets/icon-download_normal.svg);
  &:hover{
    background-image: url(../assets/-0.generalCardAssets/icon-download_hover.svg);
  }
}
.trendingCardsMaxButton {
  background-image: url(../assets/-0.generalCardAssets/icon-max_normal.svg);
  &:hover{
    background-image: url(../assets/-0.generalCardAssets/icon-max_hover.svg);
  }
}
.userTitleTrengingCards-wrapper {
  width: 100%;
  margin-left: 16px;
  margin-bottom: 50px;
  color: $secondaryLM-color;
  @include flexContainerConfig(column, nowrap, center, flex-start);
}
.userTrendingCard{
  margin-bottom: 5px;
  font-family: $regularContent-font;
  font-size: 1.0416667vw; // =15px/1440px
}
.titleTrendingCard{
  font-family: $strongContent-font;
  font-size: 1.1111111vw; // =16px/1440px
}
// ***************************************************************************************
// ******************TRENDING SLIDER BUTTONS**********************************************
// ***************************************************************************************
.trendingSliderButton {
  min-width: 38px;
  width: 2.7777778vw; // =40px/1440
  min-height: 38px;
  height: 2.7777778vw; // =40px/1440
  border: 1px solid $mainLM-color;
  i {
    color: $mainLM-color;
    font-size: 1.1111111vw; //=16px/1440px
  }
  &:hover {
    background-color: $mainLM-color;
  }
  &:hover i {
    color: $secondaryLM-color;
  }
}

#trendingLefttButtonSlider {
  margin-left: 6.5277778vw; // =94px/1440px
  margin-right: 0.83333333vw; // =12px/1440px
}



#trendingRightButtonSlider {
  margin-left: 0.83333333vw; // =12px/1440px
  margin-right: 6.5277778vw; // =94px/1440px
}