.socialMedia-wrapper {
  min-width: 200px;
  width: 13.888889vw; // =200px/1440px
  margin-left: 10.833333vw; // =156px/1440px
  @include flexContainerConfig(row, nowrap, space-between, center);
  p {
    @include footerText;
  }
  a {
    width: 1.3888889vw; //=20px/1440px
    height: 1.3888889vw; //=20px/1440px
    @include flexContainerConfig(row, nowrap, center, center);
    i {
      color: $mainLM-color;
      font-size: 1.3888889vw; //=20px/1440px
    }
    #instagramLink{
      i {
        font-size: 1.5277778vw; //=22px/1440px
      }
    }
    &:hover i {
      color: $quaternaryLM-color;
    }
  }
}
.allRights-wrapper {
  margin-right: 10.833333vw; // =156px/1440px
  p {
    @include footerText;
  }
}