.socialMedia-wrapper {
  min-width: 200px;
  width: 13.888889vw; // =200px/1440px
  margin-left: 10.833333vw; // =156px/1440px
  @include flexContainerConfig(row, nowrap, space-between, center);
  p {
    @include footerText;
  }
  a {
    width: 1.3888889vw; //=20px/1440px
    height: 1.3888889vw; //=20px/1440px
    @include flexContainerConfig(row, nowrap, center, center);
    i {
      color: $mainLM-color;
      font-size: 1.3888889vw; //=20px/1440px
    }
    .fa-instagram{
        font-size: 1.5277778vw; //=22px/1440px
    }
    &:hover i {
      color: $quaternaryLM-color;
    }
  }
}
.allRights-wrapper {
  margin-right: 10.833333vw; // =156px/1440px
  p {
    @include footerText;
  }
}
//----------------------------------------------------------------------------------------
//-------------------MEDIA QUERIES--------------------------------------------------------
//----------------------------------------------------------------------------------------
@media screen and (max-width: 768px) {
  .socialMedia-wrapper {
    min-width: 200px;
    width: 13.888889vw; // =200px/1440px
    margin-left: 10.833333vw; // =156px/1440px
    @include flexContainerConfig(row, nowrap, space-between, center);
    a {
      i {
        color: $mainLM-color;
        font-size: 2.0833333vw; //=16px/768px
      }
      .fa-instagram{
          font-size: 2.34375vw; //=18px/768px
      }
    }
  }
}