/* http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 - License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../styles/0-fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../styles/0-fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../styles/0-fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../styles/0-fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0;
  scroll-behavior: smooth;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-position: center;
  background-size: cover;
  background-color: unset;
  background-repeat: no-repeat;
}

*::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

header {
  width: 100vw;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-top: 5px solid #572EE5;
  background-color: #FFFFFF;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  position: relative;
  top: 90px;
  width: 100vw;
}

.topSection-container {
  height: auto;
  margin-bottom: 95px;
}

.welcomeSearch-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingSection-container {
  height: auto;
  background-color: #F3F5F8;
}

footer {
  position: relative;
  top: 90px;
  width: 100vw;
  height: 116px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#anchorHome {
  min-width: 59.1px;
  width: 4.1041667vw;
  max-width: 80px;
  min-height: 59.1px;
  height: 4.1041667vw;
  max-height: 80px;
  margin-left: 10.833333vw;
}

#logoHeader {
  width: 100%;
  height: 100%;
}

nav {
  margin-right: 10.833333vw;
  margin-top: 18px;
  margin-bottom: 18px;
}

nav ul {
  min-width: 430px;
  width: 33.819444vw;
  max-width: 650px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-anchor {
  font-size: calc(11px + 0.13888889vw);
  font-family: "Montserrat-Bold", sans-serif;
  color: #572EE5;
}

.nav-anchor:hover {
  -webkit-text-decoration: underline #5ED7C6 2px;
          text-decoration: underline #5ED7C6 2px;
}

.nav-anchor:active {
  color: #9cafc3;
}

.active-page {
  color: #9cafc3;
}

#createGifoLink {
  display: block;
  min-width: 50px;
  width: 3.75vw;
  max-width: 60px;
  min-height: 50px;
  height: 3.75vw;
  max-height: 60px;
}

#createGifoLink .oval-createGifosBtn {
  stroke: #572EE5;
  fill: #FFFFFF;
}

#createGifoLink .cross-createGifosBtn {
  fill: #572EE5;
}

#createGifoLink:hover .oval-createGifosBtn {
  stroke: #FFFFFF;
  fill: #572EE5;
}

#createGifoLink:active .oval-createGifosBtn {
  stroke: #FFFFFF;
  fill: #9cafc3;
}

#createGifoLink:hover .cross-createGifosBtn {
  fill: #FFFFFF;
}

#createGifoLink:active .cross-createGifosBtn {
  fill: #FFFFFF;
}

#createGifoLink #oval-createGifosBtnActive {
  stroke: #9cafc3;
  fill: #9cafc3;
}

#createGifoLink #cross-createGifosBtnActive {
  fill: #FFFFFF;
}

#createGifoLink:hover #oval-createGifosBtnActive {
  stroke: #FFFFFF;
  fill: #572EE5;
}

#createGifoLink:hover #cross-createGifosBtnActive {
  fill: #FFFFFF;
}

.welcome-container {
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcomeMessage-wrapper {
  margin-top: 76px;
  min-width: 600px;
  width: 64.861111vw;
}

.welcomeMessage-wrapper h1 {
  text-align: center;
  font-size: calc(30px + 0.34722222vw);
  line-height: calc(40px + 0.69444444vw);
  font-family: "Montserrat-Bold", sans-serif;
  color: #572EE5;
}

.welcomeMessage-wrapper h1 span {
  color: #5ED7C6;
}

.welcomeIlustration-wrapper {
  margin-top: 24px;
  margin-bottom: -3px;
  min-width: 399px;
  width: 27.708333vw;
}

.welcomeIlustration-wrapper img {
  width: 100%;
  height: 100%;
}

.searchBar-container {
  min-width: 500px;
  width: 38.263889vw;
  max-width: 820px;
  min-height: 50px;
  border: 1px solid #572EE5;
  border-radius: 27px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchBar-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchBar {
  border: none;
  width: 85.480944%;
  margin-left: 5px;
  font-size: calc(14px + 0.13888889vw);
  font-family: "Roboto-Regular", sans-serif;
}

#searchBar:focus {
  outline: none;
}

#searchButton-searchBar {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  background-image: url(../assets/-2.mainSectionAssets/0.searchAssets/button-search.svg);
}

#searchIcon-searchBar {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url(../assets/-2.mainSectionAssets/0.searchAssets/icon-search.svg);
}

#closeButton-searchBar {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background-image: url(../assets/icon-close.svg);
}

.searchSuggestions-wrapper {
  width: 91.651543%;
  height: 170px;
  padding-top: 14px;
  padding-bottom: 8px;
  border-top: 1px solid #9cafc3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.searchSuggestionItem {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}

.searchSuggestionItem .item-suggestion::before {
  background-image: url(../assets/-2.mainSectionAssets/0.searchAssets/button-search.svg);
  display: inline-block;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  content: '';
  margin-right: 20px;
}

.searchSuggestionItem .item-suggestion {
  font-size: calc(14px + 0.13888889vw);
  font-family: "Roboto-Regular", sans-serif;
  color: #9cafc3;
}

.trendingSuggestions-wrapper {
  width: 100vw;
  height: auto;
  margin-top: 73px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingSuggestions-wrapper h3 {
  font-size: calc(17px + 0.069444444vw);
  line-height: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #572EE5;
}

.trendingSuggestions-wrapper p {
  margin-top: 7px;
  font-size: calc(14px + 0.13888889vw);
  font-family: "Montserrat-Medium", sans-serif;
  color: #572EE5;
}

.results-container {
  width: 100vw;
  height: auto;
  margin-top: 74px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultItem-wrapper {
  width: 23.472222vw;
  border-top: 1px solid #9cafc3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#resultItem {
  margin-top: 84px;
  font-size: calc(20px + 0.69444444vw);
  line-height: 30px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #572EE5;
}

.searchResultsGrid-wrapper {
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resultsGrid {
  margin-top: 50px;
  -ms-grid-columns: (18.05556vw)[4];
      grid-template-columns: repeat(4, 18.05556vw);
  -ms-grid-rows: (13.88889vw)[1];
      grid-template-rows: repeat(1, 13.88889vw);
  gap: 2.0833333vw 2.0833333vw;
}

.resultsGrid img {
  width: 100%;
  height: 100%;
}

.buttonVerMas {
  width: 8.8194444vw;
  height: 3.4722222vw;
  margin-top: 80px;
  background-size: 8.8194444vw 3.4722222vw;
}

.buttonVerMas .rectangle-verMasBtn {
  stroke: #572EE5;
  fill: #FFFFFF;
}

.buttonVerMas .text-verMasBtn {
  fill: #572EE5;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: calc(11px + 0.13888889vw);
}

.buttonVerMas:hover .rectangle-verMasBtn {
  fill: #572EE5;
}

.buttonVerMas:hover .text-verMasBtn {
  fill: #FFFFFF;
}

.noResults-wrapper {
  margin-bottom: 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noResults-wrapper img {
  min-width: 140px;
  width: 10.416667vw;
  min-height: 140px;
  height: 10.416667vw;
  margin-top: 110px;
}

.noResults-wrapper p {
  margin-top: 29px;
  font-size: calc(20px + 0.13888889vw);
  line-height: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #5ED7C6;
}

.trendingSection-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingTitle-wrapper {
  margin-top: 67px;
  text-align: center;
}

.trendingTitle-wrapper h2 {
  font-size: calc(17px + 0.069444444vw);
  line-height: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #572EE5;
  font-size: calc(24px + 0.069444444vw);
  line-height: 30px;
}

.trendingTitle-wrapper p {
  margin-top: 12px;
  font-size: calc(16px + 0.13888889vw);
  font-family: "Roboto-Regular", sans-serif;
  color: #000000;
}

.trendingSlider-container {
  width: 100vw;
  margin-top: 54px;
  margin-bottom: 182px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingGifosSlider-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingGifoCard {
  position: relative;
  width: 24.791667vw;
  height: 19.097222vw;
  margin-right: 0.83333333vw;
  margin-left: 0.83333333vw;
  border: 1px solid violet;
}

.trendingGifoCard img {
  width: 100%;
  height: 100%;
}

.trendingGifoCard-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  background-color: #562ee599;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.socialTrendingCards-wrapper {
  width: 100%;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingCardsButton {
  margin-top: 2.8011204%;
  margin-right: 2.8011204%;
  width: 2.2222222vw;
  height: 2.2222222vw;
  background-size: 2.2222222vw 2.2222222vw;
  background-size: cover;
}

.trendingCardsFavButton svg, .trendingCardsDownloadButton svg, .trendingCardsMaxButton svg {
  width: 100%;
  height: 100%;
}

.trendingCardsFavButton svg .rectangle-cardIconBtn, .trendingCardsDownloadButton svg .rectangle-cardIconBtn, .trendingCardsMaxButton svg .rectangle-cardIconBtn {
  fill: #FFFFFF;
  opacity: 0.7;
}

.trendingCardsFavButton svg .icon-cardIconBtn, .trendingCardsDownloadButton svg .icon-cardIconBtn, .trendingCardsMaxButton svg .icon-cardIconBtn {
  opacity: 0.7;
  fill: #572EE5;
}

.trendingCardsFavButton svg:hover .rectangle-cardIconBtn, .trendingCardsFavButton svg:hover .icon-cardIconBtn, .trendingCardsDownloadButton svg:hover .rectangle-cardIconBtn, .trendingCardsDownloadButton svg:hover .icon-cardIconBtn, .trendingCardsMaxButton svg:hover .rectangle-cardIconBtn, .trendingCardsMaxButton svg:hover .icon-cardIconBtn {
  opacity: 1;
}

.userTitleTrengingCards-wrapper {
  width: 100%;
  margin-left: 16px;
  margin-bottom: 50px;
  color: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.userTrendingCard {
  margin-bottom: 5px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.0416667vw;
}

.titleTrendingCard {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.1111111vw;
}

.trendingSliderButton {
  min-width: 38px;
  width: 2.7777778vw;
  min-height: 38px;
  height: 2.7777778vw;
  border: 1px solid #572EE5;
}

.trendingSliderButton i {
  color: #572EE5;
  font-size: 1.1111111vw;
}

.trendingSliderButton:hover {
  background-color: #572EE5;
}

.trendingSliderButton:hover i {
  color: #FFFFFF;
}

#trendingLefttButtonSlider {
  margin-left: 6.5277778vw;
  margin-right: 0.83333333vw;
}

#trendingRightButtonSlider {
  margin-left: 0.83333333vw;
  margin-right: 6.5277778vw;
}

.socialMedia-wrapper {
  min-width: 200px;
  width: 13.888889vw;
  margin-left: 10.833333vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedia-wrapper p {
  font-size: calc(11px + 0.13888889vw);
  font-family: "Roboto-Regular", sans-serif;
  color: #000000;
}

.socialMedia-wrapper a {
  width: 1.3888889vw;
  height: 1.3888889vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedia-wrapper a i {
  color: #572EE5;
  font-size: 1.3888889vw;
}

.socialMedia-wrapper a .fa-instagram {
  font-size: 1.5277778vw;
}

.socialMedia-wrapper a:hover i {
  color: #9cafc3;
}

.allRights-wrapper {
  margin-right: 10.833333vw;
}

.allRights-wrapper p {
  font-size: calc(11px + 0.13888889vw);
  font-family: "Roboto-Regular", sans-serif;
  color: #000000;
}

.myFav-container {
  width: 100vw;
  height: auto;
  margin-top: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myFavTitle-wrapper {
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myFavTitle-wrapper img {
  min-width: 40px;
  width: 2.7777778vw;
  min-height: 32px;
  height: 2.2222222vw;
}

.myFavTitle-wrapper h2 {
  margin-top: 16px;
  font-size: calc(20px + 0.69444444vw);
  line-height: 30px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #572EE5;
}

.myFavGrid-wrapper {
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myFavGrid {
  margin-top: 50px;
  -ms-grid-columns: (18.05556vw)[4];
      grid-template-columns: repeat(4, 18.05556vw);
  -ms-grid-rows: (13.88889vw)[1];
      grid-template-rows: repeat(1, 13.88889vw);
  gap: 2.0833333vw 2.0833333vw;
}

.myFavGrid img {
  width: 100%;
  height: 100%;
}

.noMyFav-wrapper {
  margin-bottom: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noMyFav-wrapper img {
  min-width: 140px;
  width: 10.416667vw;
  min-height: 140px;
  height: 10.416667vw;
  margin-top: 110px;
}

.noMyFav-wrapper p {
  margin-top: 29px;
  font-size: calc(20px + 0.13888889vw);
  line-height: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #5ED7C6;
}

.myGifos-container {
  width: 100vw;
  height: auto;
  margin-top: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myGifosTitle-wrapper {
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myGifosTitle-wrapper img {
  min-width: 40px;
  width: 2.7777778vw;
  min-height: 32px;
  height: 2.2222222vw;
}

.myGifosTitle-wrapper h2 {
  margin-top: 16px;
  font-size: calc(20px + 0.69444444vw);
  line-height: 30px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #572EE5;
}

.myGifosGrid-wrapper {
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myGifosGrid {
  margin-top: 50px;
  -ms-grid-columns: (18.05556vw)[4];
      grid-template-columns: repeat(4, 18.05556vw);
  -ms-grid-rows: (13.88889vw)[1];
      grid-template-rows: repeat(1, 13.88889vw);
  gap: 2.0833333vw 2.0833333vw;
}

.myGifosGrid img {
  width: 100%;
  height: 100%;
}

.noMyGifos-wrapper {
  margin-bottom: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noMyGifos-wrapper img {
  min-width: 140px;
  width: 10.416667vw;
  min-height: 140px;
  height: 10.416667vw;
  margin-top: 110px;
}

.noMyGifos-wrapper p {
  margin-top: 29px;
  font-size: calc(20px + 0.13888889vw);
  line-height: 25px;
  font-family: "Montserrat-Bold", sans-serif;
  color: #5ED7C6;
}
/*# sourceMappingURL=style.css.map */